.image-upload-container {
  width: 160px;
  height: 160px;
  border-radius: 4px;
  margin: 10px 10px;
  float: left;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  img {
    width: 150px;
    height: 160px;
  }

  input[type="file"] {
    display: none;
  }
}
